
footer.footer {
  height: 80px;
  padding: 1rem;
  background: #c5c5c5;
  color: black;
  text-align: center;
  margin-top: 2rem;
  padding-bottom: 6rem;
  justify-content: center;
  width: 95rem;
}
footer p{
  margin-top: 2rem;
}