<!DOCTYPE html>
<html>
<head>
    <title>Case Predictor</title>
</head>
<body>
    <header>
        <h1>Legal Smiths</h1>
        <a href="#">Logout</a>
    </header>
    <div class="container">
        <h2>Case Predictor</h2>
        <p>Leverage AI to forecast your winning probability, uncover red flags with explanations, and receive data-driven strategy suggestions.</p>
        <hr>
        <section>
            <div class="drop">
                <p>Drag & Drop or <a href="#">Choose a File</a></p>
                <small>Supported formats: .pdf, .docx, .txt</small>
            </div>
            <div>
                <p>80%...done</p>
                <small>The analysis is taking longer than expected. You will be emailed when report is ready.</small>
            </div>
        </section>
    
    <div>
        <h3>Case Prediction Report</h3>
        
        <div class="components">
            <div class="component left">
                <h4>Winning Probability</h4>
                <img src="" alt="prediction">
                <p>Case Timeline: 18-24 Months</p>
            </div>
            <div class="component right">
                <h4>Case Type</h4>
                <p>Contract Dispute</p>
            </div>
            <div class="component right">
                <h4>Suggested Court</h4>
                <p>Superior Court</p>
            </div>
            <div class="component right">
                <h4>Case Timeline</h4>
                <p>18-24 Months</p>
            </div>
            <div class="component right">
                <h4>Sentiment</h4>
                <p>Positive</p>
            </div>
            
            
            <div class="component left">
                <h4>Key Reasons Influencing Prediction</h4>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies, urna et</li>
                    <li>semper viverra, sem metus suscipit justo, ac tincidunt nunc enim sit amet justo.</li>
                    <li>Donec ac euismod lectus, vitae venenatis sem. Praesent ut nisi risus. Phasellus consequat rutrum leo eu vulputate. Se</li>
                </ul>
            </div>
            <div class="component right">
                <h4>Strategy Suggestions</h4>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies, urna et</li>
                    <li>semper viverra, sem metus suscipit justo, ac tincidunt nunc enim sit amet justo.</li>
                    <li>Donec ac euismod lectus, vitae venenatis sem. Praesent ut nisi risus. Phasellus consequat rutrum leo eu vulputate. Se</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies, urna et</li>
                    <li>semper viverra, sem metus suscipit justo, ac tincidunt nunc enim sit amet justo.</li>
                    <li>Donec ac euismod lectus, vitae venenatis sem. Praesent ut nisi risus. Phasellus consequat rutrum leo eu vulputate. Se</li>
                </ul>
            </div>
            <div class="component left">
                <h4>Detected Red Flags</h4>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies, urna et semper viverra,</li>
                    <li>sem metus suscipit justo, ac tincidunt nunc enim sit amet justo. Donec ac euismod lectus, vitae venenatis</li>
                </ul>
            </div>
        </div>
            
        <div>
            <p>Rate prediction accuracy</p>
            <input type="text" placeholder="Enter your suggestions">
        </div>
        
        <div>
            <button>Back</button>
        </div>
    </div>
</div>

</body>
</html>
