<!DOCTYPE html>
<html>
<head>
    <title>Smart Contract Analyzer</title>
</head>
<body>
    <header>
        <h1>Legal Smiths</h1>
        <a href="#">Logout</a>
    </header>
    <div class="container">

        <h2>Smart Contract Analyzer</h2>
        <br>
        <hr>
        <section>
            <div class="drop">
                <p>Drag & Drop or <a href="#">Choose a File</a></p>
                <small>Supported formats: .pdf, .docx, .txt</small>
            </div>
            <div>
                <p>80%...done</p>
                <small>The analysis is taking longer than expected. You will be emailed when report is ready.</small>
            </div>
        </section>
        
        <section>
        <h3>Analysis Report</h3>
        <div class="summary">
            <h4>Summary</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies, urna et semper viverra, sem metus suscipit justo, ac tincidunt nunc enim sit amet justo. Donec ac euismod lectus, vitae venenatis sem. Praesent ut nisi risus. Phasellus consequat rutrum leo eu vulputate. Sed sed turpis mollis, accumsan dui in, ornare nulla. Pellentesque at rhoncus ex. Etiam at massa vehicula, fermentum mauris id, lacinia tortor. Proin ut porttitor enim. Aliquam nec auctor ex. Donec odio nisl, volutpat sed tortor sit amet, luctus pretium orci. Nulla vel justo nec eros tempor porttitor imperdiet nec felis. Phasellus ornare maximus tortor ut vehicula. Curabitur nec nibh sed diam placerat mattis. Nulla ac orci aliquam, congue lectus nec, bibendum lacus. Nulla sollicitudin nisi dolor, sed lacinia est interdum vel.</p>
        </div>
        
        <div class="quickPredictions">
            <div class="pred">
                <h4>Risk Score</h4>
                <img src="" alt="risk_piechart">
                <p>High Risk</p>
            </div>
            <div class="pred">
                <h4>Red Flags Found</h4>
                <p>5</p>
            </div>
            <div class="pred">
                <h4>Mistakes Detected</h4>
                <p>3</p>
            </div>
        </div>
        
        <div class="slidables">
            <span>Key Terms</span>
            <span>Red Flags</span>
            <span>Mistakes</span>
            <hr>
        </div>
        <div class="analytics">
            <h4 class="analysis">Exclusive license</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies, urna et semper viverra, sem metus suscipit justo, ac tincidunt nunc enim sit amet justo. Donec ac euismod lectus, vitae venenatis sem. Praesent ut nisi risus.</p>
            
            <h4 class="analysis">Exclusive license</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies, urna et semper viverra, sem metus suscipit justo, ac tincidunt nunc enim sit amet justo. Donec ac euismod lectus, vitae venenatis sem. Praesent ut nisi risus.</p>
            
            <h4 class="analysis">Exclusive license</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies, urna et semper viverra, sem metus suscipit justo, ac tincidunt nunc enim sit amet justo. Donec ac euismod lectus, vitae venenatis sem. Praesent ut nisi risus.</p>
        </div>
        
        <div class="feeback">
            <p>Was this analysis helpful?</p>
            <span>(like)</span>
            <span>(dislike)</span>
            <input type="text" name="Feedback"></input>
        </div>
        
        <div>
            <button>Back</button>
        </div>
    </section>
</div>

</body>
</html>
