<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
    <header>
        <p>
            <h2>Legal Smiths</h2>
            <a href="/login.html">Login</a>
        </p>
    </header>
    <hr>
    <main>
        <div class="about">
            <h1>About LegalSmiths</h1>
            <p>Welcome to LegalSmiths! We are committed to providing modern, secure, and confidence-inspiring legal tech solutions for all users.</p>
            
            <div class="translucent">
                <h2>Trusted Legal Analysis Platform</h2>
                <p>LegalSmiths is trusted by users for accurate legal analysis and advice, ensuring confidence in legal matters.</p>
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="m438-338 226-226-57-57-169 169-84-84-57 57 141 141Zm42 258q-139-35-229.5-159.5T160-516v-244l320-120 320 120v244q0 152-90.5 276.5T480-80Zm0-84q104-33 172-132t68-220v-189l-240-90-240 90v189q0 121 68 220t172 132Zm0-316Z"/></svg>            </div>
        </div>

        <hr>

        <div class="principles">
            <h2>Our Legal Principles</h2>
            <p>LegalSmiths upholds integrity and accuracy in legal analysis.</p>
            <p>We believe in empowering individuals with accessible legal advice and analysis through innovative technology.</p>        
            <button>Go To Our Services</button>
            <img src="" alt="img1">
            <br>
            <img src="" alt="img2">
            <img src="" alt="img3">
            <img src="" alt="img4">
        </div>
        <hr>
        <div class="meet">
            <h2>Meet our Team</h2>
            <p>LegalSmiths was founded by legal and tech experts passionate about making legal analysis accessible to everyone.</p>
        </div>
        <hr>
        <div class="contact">
            <h2>Join LegalSmiths for AI-powered legal solutions.</h2>
            <p>“LegalSmiths is a game-changer in the legal tech industry. The platform is intuitive, secure, and provides accurate legal analysis. I highly recommend it to anyone seeking legal advice.” - Victoria White</p>
            <button>Contact Us</button>
        </div>
        <hr>
        <div class="footer">
            <p>© All rights reserved.</p>
        </div>
    </main>
</body>
</html>