<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
    <script src="" defer></script>
</head>
<body>
    <div class="navbar">
        <h2>Legal Smiths</h2>
    </div>
    <div class="header">
        <h1>Login</h1>
    </div>
    <div>
        <label for="Email-input">
        </label>
        <input type="email" name="Email" id="Email-input" placeholder="Enter your Email">
    </div>
    <div>
        <label for="password-input">
            
        <input type="password" name="password" id="password-input" placeholder="Enter your Password">
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
    </form>
    <p>New Here? <a href="/register">Create an account</a></p>
    </div>
    <div class="back">
        <button>Back</button>
    </div>
</body>
</html>