<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
</head>
<body>
    <header>
        <p>
            <h2>Legal Smiths</h2>
            <a href="/login.html">Login</a>
        </p>
    </header>
    <hr>
    <main>
        <div class="header">
            <h1>AI Legal Solutions</h1>
            <p>LegalSmiths offers AI Legal Assistant for legal queries, Case Outcome Prediction for predicting case results, and Smart Contract Analyzer for contract analysis.</p>
            <img src="" alt="img1">
            <p>LegalSmiths provides AI Legal Assistant, Case Outcome Prediction, and Smart Contract Analyzer services to offer accessible legal advice, informed decision-making, and error-free contract analysis.</p>
        </div>
        <hr>
        <div class="cards">
            <div class="images">
            <img src="" alt="img2">
            <img src="" alt="img3">
            <img src="" alt="img4">
            </div>
            <div class="titles">
                
            </div>
        </div>
</body>
</html>